<header class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-9"></div>
            <div class="navbar__search col-3">
                <form action="/views/search" method="get">
                    <input type="text" placeholder="Search" name="search" id="search">
                </form>
            </div>
        </div>
    </div>
</header>