body {
  background: #bebebe;
}
.container {
  background: #f5eeee;
}
.ml-auto {
  margin-left: auto;
}
.thumbnail {
  border: 1px solid #111;
  border-radius: 1rem;
  cursor: pointer;
  color: #111 !important;
  text-decoration: none;
}
.thumbnail__title {
  text-transform: lowercase;
  font-size: 1.3rem;
  text-align: center;
}
.thumbnail__body {
  text-transform: lowercase;
  font-size: 1rem;
}
.thumbnail__image {
  width: 100%;
}
.single-post-page .image {
  width: 100%;
}
