html {
  font-size: 18px;
}
body {
  background: #bebebe;
}
.container {
  background: #f5eeee;
}
.ml-auto {
  margin-left: auto;
}
.main-content {
  min-height: calc(100vh - 15rem);
}
.thumbnail {
  border: 1px solid #111;
  border-radius: 1rem;
  cursor: pointer;
  color: #111 !important;
  text-decoration: none;
}
.thumbnail__title {
  text-transform: lowercase;
  font-size: 1.3rem;
  text-align: center;
}
.thumbnail__body {
  text-transform: lowercase;
  font-size: 1rem;
}
.thumbnail__image {
  width: 100%;
  border-radius: 1rem;
}
.navbar {
  width: 100%;
  min-height: 3rem;
  background: #b30f0f;
}
.navbar .container {
  background: transparent;
}
.navbar .container .row {
  width: 100%;
}
.search-result .search-result__title {
  text-transform: lowercase;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer {
  width: 100%;
  min-height: 3rem;
  background: #b30f0f;
}
.single-post-page .image {
  width: 100%;
}
