<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <div class="container ">
        <div class="row pt-5">
            <% posts.forEach(function(post) { %>
            <div class="col-4">
                <a href="/views/single/<%= post.ID %>">
                    <div class="m-3 p-3 thumbnail">
                        <h2 class="thumbnail__title">
                            <%=  post.TITLE %>
                        </h2>

                        <img src="<%= post.IMAGE %>" 
                            alt="<%=  post.TITLE %>"
                            class="thumbnail__image">


                    </div>
                </a>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>