<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
<body>
    <div class="container ">
        <div class="row pt-5">
            <% posts.forEach(function(post) { %>
            <div class="col-4">
                <div class="m-3 post-thumbnail">
                    <h2 class="post-thumbnail__title">
                        <%=  post.TITLE %>
                    </h2>

                    <div>
                        <%= post.BODY %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
</body>
</html>